.lsy-interface-buy{
	.lsy-table{
		&, table{
			width: 100%;
		}
		table{
			margin: 1em auto;
      		border-collapse: collapse;
			thead {
				tr {
					background-color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
        			color: var(#{$VAR-LSY-TXT-VAR-COLOR}-primary);
					th {
          				border: 1px solid #CCD1D1;
          				padding: 0.5em 1em; 
					}
				}
         	}
			tbody {
				tr {
					td {
						border: 1px solid #CCD1D1;
        				text-align: center;
        				padding: .3em;
						&.lsy-table__colspan{
							text-align: end;
        					padding: .2em;
        					padding-right: 1em;
        					background-color: #F5F5F5;
        					color: black;
        					font-weight: 900;
							img{
								width: 400px;
    							height: 400px;
    							margin: 1em auto;
							}
						}
					}
				}
         	}
		}
	}
}