.lsy-interface-container{
	background-image: url(https://github.com/DeveUp/pastley/blob/master/WebContent/resources/img/background/lsy-03.jpg?raw=true);
	&-padding{
		background-color: rgba(255,255,255, .9);
		padding: 5em 3em;
		padding-bottom: 10em;
		&-logo{
    		width: 200px;
    		height: 200px;
    		margin: 0em;
    		overflow: hidden;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	.lsy-txt-subtitle{
    	font-size: 2em;
    	font-weight: bolder;
    	letter-spacing: 2px;
		color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
	}
	.lsy-span{
		color: var(#{$VAR-LSY-TXT-VAR-BACKGROUND}-primary);
		font-weight: bolder;
		.lsy-span{
			color: var(#{$VAR-LSY-TXT-VAR-COLOR}-primary);
		    font-weight: normal;
		}
	}
}

.lsy-interface-container-2{
	position: relative;
	background-image: url(https://github.com/DeveUp/pastley/blob/master/WebContent/resources/img/background/lsy-03.jpg?raw=true);
	&::after{
		content: '';
		position: absolute;
		background-color: rgba(255,255,255, .9);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
